<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<title>Greetings</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="style.css">
<link rel=" preconnect"
    href="https://fonts.google.com/share?selection.family=Abel%7CBarlow%20Semi%20Condensed:wght@300%7CRoboto:wght@100%7CSmooch%20Sans:wght@200" />

<body>
    <div class="container">
        <header>
            <a href="/">
                <h1>Greet Counter</h1>
            </a>
            <a href="/users">
                <h3>List Users</h3>
            </a>
        </header>
        <div class="head">
            <img src="./greet.jpg" alt="" />
        </div>
        <fieldset>
            <legend>Greetings</legend>
            </h1>
            <div class="greeting-container">
                <div class="main-container">
                    <form action="/" method="POST">
                        <div class="input-container">
                            <label class="name-label" for="name">Name:</label>
                            <input class='name' type="text" name='name' placeholder="enter your name" />
                            <label class="counter">{{count}}</label>
                        </div>
                        <label class="error">{{nameError}}</label><br />
                        <label class="selection-error">{{languageError}}</label>
                        <label class="dup-error hide"></label><br />
                        <div class="bottom-container">
                            <span class="lang-title">Select language:</span><br />
                            <div class="radio-selectors">
                                <div class="radio-items">
                                    <input name='languages' type="radio" class='language' value="English" />
                                    <label for="english">English</label><br />
                                </div>

                                <div class="radio-items">
                                    <input name="languages" type="radio" class='language' value="Afrikaans" />
                                    <label for="afrikaans">Afrikaans</label><br />
                                </div>

                                <div class="radio-items">
                                    <input name="languages" type="radio" class='language' value="isiXhosa" />
                                    <label for=" xhosa">isiXhosa</label><br />
                                </div>
                            </div>
                        </div>
                        <div class="buttons">

                            <button type="submit" name="language" class="greet-me">Greet Me</button>
                    </form>
                    <form action="/clear" method="post">
                        <button type="submit" class="greet-me reset">Reset data</buttonx>
                </div>
                </form>
            </div>
    </div>
    <a href="/users">
        <p class="view-users">
            {{list_users}}
        </p>
        <p class="totalCounter"></p>
    </a>
    </fieldset>
    <fieldset class="greetme-field">
        <label class="greet">{{greeting}} {{name}} </label>
    </fieldset>
    </div>
    <script src="errors.js"></script>
</body>

</html>