<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Greetings</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <header>
        <div class="back-container">
            <a class="back" href="/users">
                {{back}}
            </a>
            <a class="back" href="/">
                {{home}}
            </a>
        </div>
    </header>
    <p class="user-title">Hey {{user.name}}.</p>
    <div class="row">
        <table>
            <tr>
                <th>Name</th>
                <th>Time</th>
                <th>Language</th>
                <th>Greeting</th>
                <th>Count</th>
            </tr>
            <tr>
                <td>
                    <p class="name">{{user.name}}</p>
                </td>
                <td>{{user.date}}</td>
                <td>{{user.language}}</td>
                <td>{{user.greet}}</td>
                <td>{{user.count}}</td>
            </tr>
        </table>
        {{noDataError}}
        <div class="total">
            <p class="total-name">Total: </p>
            <p class="total-count">{{total_count}}</p>
        </div>
    </div>
</body>

</html>