<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Greetings</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <header>
        <a href="/">
            <h1>Greet Counter</h1>
        </a>
        <form action="/search" method="POST" class="search-form">
            <div class="search-container">
                <input class='search' type="text" name='search_name' value="" placeholder="search name" />
                <button type="submit" class="name-label" for="name">Search</button>
            </div>
        </form>
        <h3>{{name}}</h3>
        <div>
            <a class="back" href="/">
                {{back}}
            </a>
        </div>
    </header>
    <div class="row">
        <table class="table">
            <form action="/user/{{this.id}}" method="POST">

                <tr>
                    <th>Name</th>
                    <th>Times Greeted</th>
                    <th>Delete</th>
                <tr>
                    <tbody>
                        {{#each all_users}}
                        <td type="submit" class="username"><a href='/user/{{id}}'>
                                <p class="name">{{name}}</p>
                            </a>
                        </td>
                        <td>{{count}}</td>
                        <td type="submit" class="username"><a href="/delete/{{id}}">
                                <p class="name">Delete</p>
                            </a>
                        </td>
                    </tbody>
            </form>
            </tr>
            {{/each}}
        </table>
    </div>

</body>

</html>